@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Regular.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Regular.woff") format("woff");
  font-weight: normal; // 400
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Italic.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Italic.woff") format("woff");
  font-weight: normal; // 400
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Medium.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Medium_Italic.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Medium_Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-SemiBold.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-SemiBold_Italic.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-SemiBold_Italic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Bold.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Bold.woff") format("woff");
  font-weight: bold; // 700
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Bold_Italic.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Bold_Italic.woff") format("woff");
  font-weight: bold; // 700
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Black.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Black.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Degular";
  src: url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Black_Italic.woff2") format("woff2"),
    url("/Components/Common/Framework/Design/Fonts/Degular/Degular-Black_Italic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
